<div class="container top-30">
  <div class="row">
    <div class="col-md-3">

      <label for="termino">Search your Artist</label>

      <!--[] nos permite escuchar y emitir al componente  -->
      <!-- Keyup allow us to find the data at the same time we write it. -->
      <input [(ngModel)]="termino"
      (keyup)="searchArtist()"
      type="text" name="termino"
      placeholder="Search artist...">
      <hr>
    </div>

    <!--*ngFor="let artist of _spotifyService.artistas"  -->
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-3 text-center puntero"
         [routerLink]="['/artist',artist.id]"
         *ngFor="let artist of _spotifyService.artistas">
          <img [src]="artist.images | sinfoto" class="img-fluid img-thumbnail">
          <p>
            {{artist.name}}
          </p>
          <hr>
        </div>
      </div>

    </div>
  </div>

</div>
